main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  max-width: 680px;
  min-height: 100vh;
  padding: 72px 0;
  text-align: center;
}
h1 {
  font-size: 45px;
}

h2 {
  margin-left: 5px;
}

h4 {
  // padding: 0 12px 0;
  // padding-top: 30px;
  text-align: center; 
  color: white;
}

p {
  font-size: 16px;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}




/* /////////// NAVBAR NAVBAR NAVBAR ///////////////// */
.Navbarholder{
  background: black;
  /* background-image:url('./images/StarCraft_II_Logo.jpg'); */
  height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Navlinkholder{
  display: flex;
  justify-content: space-evenly;
}

.navlink{
  margin-top: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 2px;
  text-align: center;
  background: rgb(0, 89, 172);
  width: 128px;
  padding: 10px;
  text-decoration: none;
}
.active{
  width: 128px;
  padding: 10px;
  background: rgb(0, 132, 255);
}

.navlink:hover{
  background: rgb(0, 52, 100);
  width: 128px;
  padding: 10px;
}

/////////// HEADER BAR //////////////////////////////////////
////////////////////////////////////////////////////////////

.Container{
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  background: rgb(31, 31, 31);

  .UnitPortrait{
    display: flex;
    flex-direction: column; 
  }

  .image1{
    padding: 20px;
    width: 60px;
    height: 60px;
    // padding: 10px 25px 0;
  }
  
  .image2{
  // padding: 0 25px 0;
  width: 76px;
  height: 76px;
  }

  .text{
    padding: 0 20px 0;
    text-decoration: underline;
  }

}

////////////// END HEADER BAR ///////////////////////////////////

.Container2{
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;

  .UnitPortrait{
    display: flex;
    flex-direction: column; 
  }

}




.Btn{
  margin: 4px 0 4px;
}

.Btnholder{
  padding: 2.5rem 0 0;
}

.BtnEditCancel{
  height: 25px;
}

.counterUnit{
  display: flex;
  background: gray;
  height: 150px;
  border: 2px solid black;
}

.info{
  display: none;
  background: gray;
  height: 150px;
  border: 2px solid black;
}

.Checkbox1{
  height: 24px;
  width: 24px;
}

.name{
  margin: 3px 30px 3px;
  
}



.TextHeaderShield{
  /* width: 5px; */
  text-decoration: underline;
  /* color: white; */
}


.TextUnits{
  display: flex;
  /* width: 10px; */
  /* padding: 25px 0 0; */
  background: gray; 
  border: 2px solid red;
}

.UnitShield{
  /* padding: 25px 25px 5px; */
  background: rgb(0, 162, 255);
}



.Input{
  border-radius: 5px;
  border: 2px solid black;
  padding:1rem;
}

/* ///////////////////////////////////// */



.Searchbar2{
  align-items: center;
  display: flex;
  padding:7rem 2rem 0;
  background: rgb(31, 31, 31);

  .Searchtext{
    color: white;
    padding-right: 15px;
  }

}

.ImageHome{ 
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), */
  background-image:url('./images/StarCraft_II_Logo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px; 
} 

.images{
 width: 100%;
}

// .ImageProtoss{ 
//   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
//   url('./images/StarCraft_II_Protoss.jpg');
//   background-size: contain;
//   background-repeat: no-repeat;
// }

// .ImageTerran{
//   background-image:url('./images/StarCraft_II_Terran.jpg');
//   background-size: contain;
//   background-repeat: no-repeat;
// }

// .ImageZerg{
//   background-image:url('./images/StarCraft_II_Zerg.jpg');
//   background-size: contain;
//   background-repeat: no-repeat;
// } 

/* /////////////////////////////////// */

.CounterFormHolder{
  display: flex;
  background: gray;
  border: 2px solid black; 
}

.CounterForm{
  display: flex;
  border: 2px solid red; 
}

.textspacing{
  display: flex;
  padding: 1.5rem 25px 0;
  /* background: gray; */
}