main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  max-width: 680px;
  min-height: 100vh;
  padding: 72px 0;
  text-align: center;
}
h1 {
  font-size: 45px;
}

h2 {
  margin-left: 5px;
}

h3 {
  text-align: center; 
}

p {
  font-size: 16px;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}




/* /////////// NAVBAR NAVBAR NAVBAR ///////////////// */
/* .Navbarholder{
  display: flex;
} */
.navlinkholder{
  display: flex;
  justify-content: space-evenly;
}


/* //////////////////LIST LIST LIST //////////////////////////////// */


.InfoBar{
  display: flex; 
}

.UnitContainer{
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
}

.Checkbox1{
  height: 24px;
  width: 24px;
}

.name{
  margin: 3px 30px 3px;
  
}

.image1{
  padding: 10px 25px 0;

}

.image2{
  padding: 0 25px 0;
  width: 76px;
  height: 76px;
}

.TextHeader{
  width: 120px;
  text-decoration: underline;
}

.h3gray2{
  width: 120px;
  padding: 25px 0 0;
  /* background: gray; */
}



.InputContainer{
  margin: 15px;
}

.Input{
  border-radius: 5px;
  border: 2px solid black;
  padding:1rem;
}

/* ///////////////////////////////////// */

.Searchbarholder{
  background: black;
}

.Searchtext{
  color: white;
}

.Searchbar{
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),*/
  background-image:url('./StarCraft_II_Logo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px; 
}

.Searchbar2{
  display: flex;
  /* padding-top: 3rem; */
  padding:3rem 2rem 0;
}

.ImageProtoss{
  background-image:url('./StarCraft_II_Protoss.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px; 
}

.ImageTerran{
  background-image:url('./StarCraft_II_Terran.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px; 
}

.ImageZerg{
  background-image:url('./StarCraft_II_Zerg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px; 
}