h1 {
  font-size: 45px;
}

h2 {
  margin-left: 5px;
}

h4 {
  text-align: center; 
  color: white;
}

p {
  font-size: 16px;
}

code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}
// /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////



/* /////////// NAVBAR NAVBAR NAVBAR ///////////////// */
.Navbarholder{
  background: black;
  /* background-image:url('./images/StarCraft_II_Logo.jpg'); */
  height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Navlinkholder{
  display: flex;
  justify-content: space-evenly;
}

.navlink{
  margin-top: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 2px;
  text-align: center;
  background: rgb(0, 89, 172);
  width: 128px;
  padding: 10px;
  text-decoration: none;
}
.active{
  width: 128px;
  padding: 10px;
  background: rgb(0, 132, 255);
}

.navlink:hover{
  background: rgb(0, 52, 100);
  width: 128px;
  padding: 10px;
}

/////////// HEADER BAR //////////////////////////////////////
////////////////////////////////////////////////////////////


.Container{
  padding: 0 0 10px 4rem;
  display: flex;
  border: 2px solid black;
  background: rgb(31, 31, 31);


  .UnitPortrait{
    padding-top: 10px;
    justify-content: space-evenly;
    width: 9rem;
    // border: 2px solid red;
    display: flex;

    .name{
      margin-right: 15px;
    }
  }

  .imageRes{
    padding: 20px 25px 20px 25px;
    width: 45px;
    height: 45px;
  }
  
  .imageUnit{
    padding-right: 25px;
    width: 76px;
    height: 76px;
  }

  .textUnit{
    // border: 2px solid red;
    width: 9rem;
  }

  .text{
    // border: 2px solid red;
    width: 6rem;
    background: gray;
  }

  .text2{
    width: 6rem;
  }

  .TextShield{
    width: 6rem;
    background: rgb(0, 162, 255);
    // text-decoration: underline;
  }
}

////////////// END HEADER BAR ///////////////////////////////////

.ContainerHidden{
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  background: rgb(59, 59, 59);

  .UnitPortrait{
    display: flex;
    flex-direction: column; 
  }

}

.Btn{
  margin: 4px 0 4px;
}

.Btnholder{
  padding: 2.5rem 0 0;
}

.BtnEditCancel{
  height: 25px;
}

.counterUnit{
  display: flex;
  background: gray;
  height: 150px;
  border: 2px solid black;
}

.info{
  display: none;
  background: gray;
  height: 150px;
  border: 2px solid black;
}

.Checkbox1{
  height: 24px;
  width: 24px;
}

.UnitText{
  width: 6rem;
  background: gray;
}

.UnitText2{
  width: 6rem;
}

.UnitShield{
  width: 6rem;
  /* padding: 25px 25px 5px; */
  background: rgb(0, 162, 255);
  
}



.Input{
  border-radius: 5px;
  border: 2px solid black;
  padding:1rem;
}

/* ///////////////////////////////////// */



.Searchbar2{
  align-items: center;
  display: flex;
  padding:4rem 2rem 0;
  background: rgb(31, 31, 31);

  .Searchtext{
    color: white;
    padding-right: 15px;
  }

}

.ImageHome{ 
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), */
  background-image:url('./images/StarCraft_II_Logo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px; 
} 

.images{
 width: 100%;
}

// .ImageProtoss{ 
//   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
//   url('./images/StarCraft_II_Protoss.jpg');
//   background-size: contain;
//   background-repeat: no-repeat;
// }

// .ImageTerran{
//   background-image:url('./images/StarCraft_II_Terran.jpg');
//   background-size: contain;
//   background-repeat: no-repeat;
// }

// .ImageZerg{
//   background-image:url('./images/StarCraft_II_Zerg.jpg');
//   background-size: contain;
//   background-repeat: no-repeat;
// } 

/* /////////////////////////////////// */

.CounterFormHolder{
  display: flex;
  background: gray;
  border: 2px solid black; 
}

.CounterForm{
  display: flex;
  border: 2px solid red; 
}

.textspacing{
  display: flex;
  padding: 1.5rem 25px 0;
  // background: gray;
}