h1 {
  font-size: 45px;
}

h2 {
  margin-left: 5px;
}

h4 {
  text-align: center; 
  color: white;
}

p {
  font-size: 16px;
}

// /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////



/* /////////// NAVBAR NAVBAR NAVBAR ///////////////// */
.Navbarholder{
  background: black;
  /* background-image:url('./images/StarCraft_II_Logo.jpg'); */
  height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Navlinkholder{
  display: flex;
  justify-content: space-evenly;
}

.navlink{
  margin-top: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 2px;
  text-align: center;
  background: rgb(0, 89, 172);
  width: 128px;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}
.active{
  width: 128px;
  padding: 10px;
  margin: 20px;
  background: rgb(0, 132, 255);
}

.navlink:hover{
  background: rgb(0, 52, 100);
  width: 128px;
  padding: 10px;
}

/////////// HEADER BAR //////////////////////////////////////
////////////////////////////////////////////////////////////

.ContainerHeader{
  padding: 0 0 10px 4rem;
  display: flex;
  background: rgb(31, 31, 31);

  .imageResrc{
    margin: 20px 25px 20px 25px;
    // padding: 20px 25px 20px 25px;
    width: 45px;
    height: 45px;
  }

  
  .textUnit{
    width: 9rem;
  }

  .text{
    width: 6.5rem;
    padding: 0 4px 0 4px;
    background: gray;
  }

  .text2{
    width: 6.5rem;
    padding: 0 4px 0 4px;
  }

  .TextShield{
    width: 6.5rem;
    background: rgb(0, 162, 255);
    // text-decoration: underline;
  }
}

////////////////// UNIT CONTAINER ////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

.ContainerA{
  padding: 0 0 10px 4rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background: rgb(31, 31, 31);

  .ContainerB{
    display: flex;
    padding-top: 12px;
  }

  .UnitPortrait{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    justify-content: space-evenly;
    width: 9rem;


    .name{
      margin-right: 15px;
    }
  }


  
  .imageUnit{
    width: 76px;
    height: 76px;
  }

  .textUnit{
    width: 9rem;
  }


}

////////////// END HEADER BAR ///////////////////////////////////



.Btn{
  margin: 4px 0 4px;
}

.Btnholder{
  padding: 2.5rem 0 0;
}

.BtnEditCancel{
  height: 25px;
}

.counterUnit{
  display: flex;
  background: gray;
  height: 150px;
  border: 2px solid black;
}

.UnitText{
  width: 6.5rem;
  height: 4rem;
  background: gray;
}

.UnitText2{
  width: 6.5rem;
}

.UnitShield{
  width: 6rem;
  height: 4rem;
  background: rgb(0, 162, 255);
  
}

.Input{
  border-radius: 5px;
  border: 2px solid black;
  padding:1rem;
}

/* ///////////////////SEARCH BAR/////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */

.Searchbar2{
  align-items: center;
  display: flex;
  padding: 4rem 2rem 0;
  background: rgb(31, 31, 31);

  .Searchtext{
    color: white;
    padding-right: 15px;
  }

}

.ImageHome{ 
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), */
  background-image:url('./images/StarCraft_II_Logo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px; 
} 

.images{
  // width: 50%;
  width: 100%;
}

// .ImageProtoss{ 
//   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
//   url('./images/StarCraft_II_Protoss.jpg');
//   background-size: contain;
//   background-repeat: no-repeat;
// }

// .ImageTerran{
//   background-image:url('./images/StarCraft_II_Terran.jpg');
//   background-size: contain;
//   background-repeat: no-repeat;
// }

// .ImageZerg{
//   background-image:url('./images/StarCraft_II_Zerg.jpg');
//   background-size: contain;
//   background-repeat: no-repeat;
// } 

/* /////////////////////////////////// */

.textAccord{
  display: flex;
  padding: 1.5rem 25px 0;
  color: black;
}