.card{
    background: rgb(124, 124, 124);
}

// .card-header{
//  background: blue;
// }

// .btn {
//     background: rgb(0, 89, 172);
// }

.btn-link{
color: black;
font-weight: bold;
}

// .collapse{

// }

.card-body{
    width: 35rem;
}


